<h1 align="center" style="margin-top:70px;">
  <p><i class="icon-fire"></i></p>
  Ideabox</h1>

  <img src="http://www.idea-sandbox.com/blog_images/lightbulb-o-lantern.jpg" class="logo">

  <h4 style="color:black;margin-bottom:40px;" align="center">Store your ideas in a virtual box...if you dare</h4>

  <%unless idea.id %>

<div class="idea_box_controls">
<form action='/tags' method='GET'>
<button type='submit' class='spooky'style="background-color:lightgreen">See all ideas by Tag</button>
</form>

<form action='/lookup' method='GET'>
<input type= 'text' name = 'lookup'>
<button type='submit' class='search_button_spooky'>Search by phrase or keyword</button>
</form>

<div class="dropdown">
<form action = '/groups' method='GET' style='display: inline'>
 <select name="group">
  <option value="Groupless">Groupless</option>
  <option value="Travel">Travel</option>
  <option value="Home and Garden">Home and Garden</option>
  <option value="Culinary">Culinary</option>
  <option value="Leisure">Leisure</option>
  <option value="Business">Business</option>
  <option value="Shopping">Shopping</option>
  <option value="Fitness">Fitness</option>
  <option value="Health and Wellness">Health and Wellness</option>
</select>
<button type='submit' class='dropdown_button'>SEE  IDEAS</button>
</form>
</div>

<div class="dropdown">
<form action = '/dates'>
  <select name="search_day">
  <option value="Sunday">Sunday</option>
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
</select>
<button type='submit' class='dropdown_button'>SEE IDEAS</button>
</form>
</div>


</form>
</div>

<div class="header">
<div class="idea_submission">
<form action='/<%= idea.id %>' method='POST'>
  <p>
    <% if idea.id %>
      Edit your Idea:
    <% else %>
      <h2>Create an Idea:</h2>
    <% end %>
  </p>
  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <fieldset>
    <label for="idea[title]">Name:</label>
    <textarea name='idea[title]'><%= idea.title %></textarea>
  </fieldset>
  <fieldset>
    <label for="idea[description]">Description:</label>
    <textarea name='idea[description]'><%= idea.description %></textarea> 
  </fieldset>
  <fieldset>
    <label for="idea[tags]">Tags:</label>
    <textarea name='idea[tags]'><%= idea.tags %></textarea> 
  </fieldset>

<div class="dropdown_idea_form">
  <select name="group">
    <option value="Click to Select Group">Click to Select Group</option>
    <option value="Groupless">Groupless</option>
    <option value="Travel">Travel</option>
    <option value="Home and Garden">Home and Garden</option>
    <option value="Culinary">Culinary</option>
    <option value="Leisure">Leisure</option>
    <option value="Business">Business</option>
    <option value="Shopping">Shopping</option>
    <option value="Fitness">Fitness</option>
    <option value="Health and Wellness">Health and Wellness</option>
  </select><br/>
  <button type='submit' class='submit_button'/>Submit</button>
  </form>
</div>
</div>

<%end%>
</div>



