<html>  
  <style>
    body {
      background-color: FF9999; 
      color: 330066;
      font-family: Georgia;
      font-size: small;
        }

    h1 {
      font-size: 150%;
    }
    h3 {
      border-bottom: 1px solid black;
    }
  </style>
  <body>

  <%= yield %>

  </body>
</html>
