<html>  
 <head>
  <style>
    body {
      background-color: FF6600; 
      color: black;
      font-family: Misfits;
      font-size: large;
        }

    h1 {
      font-size: 60px;
    }
    h3 {
      border-bottom: 1px solid black;
      font-size: 150%
    }
    img.logo {
      display:block;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border: 5px solid black;
    }
    ul.ideas {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    ul.ideas li {
      color: white;
      width: 40%;
      float: left;
      background: white;
      margin-right: 2%;
      margin-bottom: 1%;
      padding: 2% 1%;
      border: 5px solid black;
      background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRlvGf_gHjfhdK1yV7J_3mtcsITme_loatdDnvABC7D-3P0Ah7I)
    }
    button.spooky {
      color: white;
      width: 180px;
      height: 40px;
      margin-top: 1%;
      font-family: Bernie;
      font-size: 90%;
      background-image: url(http://www.freevector.com/site_media/preview_images/FreeVector-Halloween-Pattern.jpg)
    }
    button.search_button_spooky  {
      color: white;
      width: 200px;
      height: 25px;
      margin-top: 1%;
      font-family: Bernie;
      font-size: 70%;
      background-image: url(http://www.freevector.com/site_media/preview_images/FreeVector-Halloween-Pattern.jpg)
    }

    .dropdown select {
      background: transparent;
      background-color: yellow;
      width: 120px;
      height: 20px;
      padding: 10px;
      font-size: 13px;
      font-family: Double Feature;
      text-align: center;
    }

    .dropdown_button {
      background-color: black;
      color: white;
      font-family: Bernie;
    }

    .dropdown_idea_form select {
        background-color: white;
        width: 146px;
        padding: 5px;
        font-size: 16px;
        font-family: Misfits;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
        -webkit-appearance: none;
    }
    .submit_button {
      background-color: black;
      color: white;
      font-family: Misfits;
      font-size: 18px;
    }

  </style>


  <title>IdeaBox</title>
  <style type= "text/css">
   
  </style>
</head>
  <body>

  <%= yield %>

  </body>
</html>
